html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #555;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  clear: both;
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Add your css into here*/

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes mymovee {
  0% {
    transform: scale(0);
    top: 200px;
  }

  100% {
    transform: scale(1);
    top: 0px;

  }
}

@keyframes bar_white {
  0% {
    transform: translateY(0%);
    display: block;
    z-index: 2;
  }

  100% {
    transform: translateY(100%);
    display: none;
    z-index: 2;
  }
}

@keyframes orange-fly {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes mymovec {
  0% {
    transform: scale(0) translateY(100%);
    top: 800px;
  }

  100% {
    transform: scale(1) translateY(0);
    top: 0px;
  }
}

@keyframes mymoveccc {
  0% {
    top: 400px;
  }

  100% {
    top: 0px;
  }
}



.test {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  animation: scale 1s forwards;
  background-color: #ff9536;
  will-change: transform;
}

.testb {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  animation: scale 1s forwards;
  animation-delay: 1.5s;
  background-color: #33b6f2;
  will-change: transform;
}

.testc {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  animation: scale 1s forwards;
  animation-delay: 2s;
  background-color: #0c8412;
  will-change: transform;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}

.bars {
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;

}

.bar-items {
  position: relative;
}

.bar-white {
  z-index: 0;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 40px;
  height: 100%;
  animation: bar_white 2.5s;
  background-color: white;
}

.orange-fly {
  position: absolute;
  background-color: #ff9536;
  width: calc(100% - 75px);
  height: 100%;
  animation: orange-fly 1s forwards;
  animation-delay: 1.5s;
}

.chip-g1 {
  position: relative;
  animation: scale 1s;
}

.chip-g2 {
  position: relative;
  animation: scale 1.2s;
}

.chip-g3 {
  position: relative;
  animation: scale 1.4s;
}

.chip-g4 {
  position: relative;
  animation: scale 1.6s;
}

.chip-g5 {
  position: relative;
  animation: scale 1.8s;
}

.chip-g6 {
  position: relative;
  animation: scale 2.4s;
}

.chip-g7 {
  position: relative;
  animation: scale 2.6s;
}




.chips {
  position: relative;
  animation: mymoveccc 1s;

}

.satage {
  display: flex;
}

.test2 {
  animation-delay: 0.05s;
  opacity: 0.9;
}

.test3 {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.test4 {
  animation-delay: 0.15s;
  opacity: 0.7;
}

.test5 {
  animation-delay: 0.2s;
  opacity: 0.6;
}

.test6 {
  animation-delay: 0.25s;
  opacity: 0.5;
}

.test7 {
  animation-delay: 0.3s;
  opacity: 0.4;
}

.test8 {
  animation-delay: 0.35s;
  opacity: 0.3;
}

.test9 {
  animation-delay: 0.4s;
}

.test10 {
  animation-delay: 0.45s;
  opacity: 0.9;
}

.test11 {
  animation-delay: 0.5s;
  opacity: 0.8;
}

.test12 {
  animation-delay: 0.55s;
  opacity: 0.7;
}

.test13 {
  animation-delay: 0.6s;
  opacity: 0.6;
}

.test14 {
  animation-delay: 0.65s;
  opacity: 0.5;
}

.test15 {
  animation-delay: 0.7s;
  opacity: 0.4;
}

.test16 {
  animation-delay: 0.75s;
  opacity: 0.3;
}

.test17 {
  animation-delay: 0.8s;
}

.test18 {
  animation-delay: 0.85s;
  opacity: 0.9;
}

.test19 {
  animation-delay: 0.9s;
  opacity: 0.8;
}

.test20 {
  animation-delay: 1s;
  opacity: 0.7;
}

.test21 {
  animation-delay: 1.05s;
  opacity: 0.6;
}

.test22 {
  animation-delay: 1.1s;
  opacity: 0.5;
}

.test23 {
  animation-delay: 1.15s;
  opacity: 0.4;
}

.test24 {
  animation-delay: 1.2s;
  opacity: 0.3;
}

.test25 {
  animation-delay: 1.25s;
}

.test26 {
  animation-delay: 1.3s;
  opacity: 0.9;
}

.test27 {
  animation-delay: 1.35s;
  opacity: 0.8;
}

.test28 {
  animation-delay: 1.4s;
  opacity: 0.7;
}

.test29 {
  animation-delay: 1.45s;
  opacity: 0.6;
}

.test30 {
  animation-delay: 1.5s;
  opacity: 0.5;
}

.test31 {
  animation-delay: 1.55s;
  opacity: 0.4;
}

.test32 {
  animation-delay: 1.6s;
  opacity: 0.3;
}

.test33 {
  animation-delay: 1.65s;
}

.test34 {
  animation-delay: 1.7s;
  opacity: 0.9;
}

.test35 {
  animation-delay: 1.75s;
  opacity: 0.8;
}

.test36 {
  animation-delay: 1.8s;
  opacity: 0.7;
}

.test37 {
  animation-delay: 1.85s;
  opacity: 0.6;
}

.test38 {
  animation-delay: 1.9s;
  opacity: 0.5;
}

.test39 {
  animation-delay: 1.95s;
  opacity: 0.4;
}

.test40 {
  animation-delay: 1.95s;
  opacity: 0.3;
}

.test41 {
  animation-delay: 2s;
}

.test42 {
  animation-delay: 2.05s;
  opacity: 0.9;
}

.test43 {
  animation-delay: 2.1s;
  opacity: 0.8;
}

.test44 {
  animation-delay: 2.15s;
  opacity: 0.7;
}

.test45 {
  animation-delay: 2.2s;
  opacity: 0.6;
}

.test46 {
  animation-delay: 2.25s;
  opacity: 0.5;
}

.test47 {
  animation-delay: 2.3s;
  opacity: 0.4;
}

.test48 {
  animation-delay: 2.35s;
  opacity: 0.3;
}

.test49 {
  animation-delay: 2.4s;
}

.test50 {
  animation-delay: 2.45s;
  opacity: 0.9;
}

.test51 {
  animation-delay: 2.5s;
  opacity: 0.8;
}

.test52 {
  animation-delay: 2.55s;
  opacity: 0.7;
}

.test53 {
  animation-delay: 2.6s;
  opacity: 0.6;
}

.test54 {
  animation-delay: 2.65s;
  opacity: 0.5;
}

.test55 {
  animation-delay: 2.7s;
  opacity: 0.4;
}

.test56 {
  animation-delay: 2.75s;
  opacity: 0.3;
}